{ deps, [
  {wms_dist, {git, "git@github.com:m-attila/wms_dist.git",
            {branch, "dev"}}},
  {wms_state, {git, "git@github.com:m-attila/wms_state.git",
            {branch, "dev"}}}
]}.

{alias, [{test, [eunit,
                 {ct, "--sname wms_dist --sys_config=config/wms_operator.config --readable true --cover --verbose true"},
                 cover]},
         {tall, [eunit,
                 {ct, "--sname ct --sys_config=config/wns_engine.config --readable true --cover --verbose true"},
                 lint, xref, cover, dialyzer, release,
                 check_deps]}]}.

{cover_enabled, true}.

{cover_excl_dirs, []}.

{cover_excl_mods, []}.

{cover_opts, [verbose]}.

{ct_opts, [{ct_hooks, [{cth_surefire, [{path, "report.xml"}]}]}]}.

{deps_warning_on_conflict, false}.

{dialyzer, [{plt_apps, all_deps}]}.

{dist_node, [{setcookie, wms_dist}, {sname, wms_dist}]}.

{erl_opts, [warn_unused_vars, warn_export_all, warn_shadow_vars,
            warn_unused_import, warn_unused_function, warn_bif_clash,
            warn_unused_record, warn_deprecated_function, warn_obsolete_guard,
            strict_validation, warn_export_vars, warn_exported_vars,
            warn_missing_spec, warn_untyped_record, warnings_as_errors,
            debug_info,
            {parse_transform,lager_transform}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./_build/test"}]}}]}.

{plugins, [rebar3_run]}.

{post_hooks, [{ct, "ps auxw | grep \"rebar3 tall\" | grep -v grep > /dev/null && elvis rock || echo 'Skipping Elvis...'"}]}.

{profiles,
  [{prod,
    [{erl_opts, [{d, 'PROD'}]},
     {relx, [{dev_mode, false}, {include_erts, true}]}]},
   {test,
    [{erl_opts,
      [nowarn_export_all, debug_info, nowarn_missing_spec,
       nowarn_unused_vars]},
     {deps,
      [meck,
       {wms_test, {git, "git@github.com:m-attila/wms_test.git", {branch, "dev"}}}]}]}]}.

{project_plugins,
 [rebar3_lint]}.

{provider_hooks, [{pre, [{upgrade, update},
                         {upgrade, update_default_rebar_config},
                         {upgrade, generate_rebar_config},
                         {upgrade, refresh_plugins},
                         {tar, {appup, tar}}]},
                  {post, [{clean, {appup, clean}},
                          {relup, {sappan, check_upgrade}}]}]}.

{rebar3_mirroring, [{remote_config, mirroring_default_config}]}.

{rebar_packages_cdn, "https://hexpm.erfk.kozpont.otp:8081/repo/hexpm"}.

{relx, [{sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {extended_start_script, true},
        {release, {wms_operator, {semver, []}}, [wms_operator, wms_dist, wms_state, wms_common, edate]},
        {dev_mode, true},
        {include_erts, false}]}.

{routing, [{remote_url, "https://repo.erfk.kozpont.otp:8081/repo/hexpm/general_rebar_routing.config"}]}.

{sappan, [{include_erts, false},
          {arity_file, "api_arities.txt"},
          {fail_on_errors, true},
          {release_checks, [chkrel_appmods, chkrel_appnames, chkrel_calls,
                            chkrel_relup_order, chkrel_upgrade_order]},
          {upgrade_checks, []}]}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

