{ wms_operator, [
  {test, [
    {
      interactions, #{
      <<"test_interaction_add">> => #{
        module => test_interaction_impl,
        description => <<"Test interaction 01">>
      }
    }
    }
  ]},
  {prod, [
    {
      interactions, #{
      }
    }
  ]},
  {default, [
    {interactions, #{}}
  ]}
]}.

{wms_dist,
 [
   {prod, [
     {nodes, []},
     {optional_nodes, ['${WMS_DISTRIBUTOR_1}@__hostname__',
                       '${WMS_DISTRIBUTOR_2}@__hostname__',
                       '${WMS_OPERATOR_1}@__hostname__',
                       '${WMS_OPERATOR_2}@__hostname__']}
   ]},
   {default, [
     {auto_start_actors, []}
   ]}
 ]
}.