{ wms_operator, [
  {test, [
    {
      interactions, #{
      <<"test_interaction_add">> => #{
        module => test_interaction_impl,
        description => <<"Test interaction 01">>
      }
    }
    }
  ]},
  {prod, [
    {
      interactions, #{
      <<"test_interaction_add">> => #{
        module => test_interaction_impl,
        description => <<"Test interaction 01">>
      }
    }
    }
  ]},
  {default, [
    {interactions, #{}}
  ]}
]}.

{wms_dist,
 [
   {prod, [
     {nodes, ['${WMS_ENGINE_1}@__hostname__', '${WMS_ENGINE_2}@__hostname__']},
     {optional_nodes, ['${WMS_DISTRIBUTOR_1}wms_dis1@__hostname__',
                       '${WMS_DISTRIBUTOR_2}wms_dis2@__hostname__',
                       '${WMS_OPERATOR_1}wms_opa1@__hostname__',
                       '${WMS_OPERATOR_2}wms_opa2@__hostname__']}
   ]},
   {default, [
     {auto_start_actors, []}
   ]}
 ]
}.