{ wms_operator, [
  {test, [
    {
      interactions, #{
      <<"test_interaction_add">> => #{
        module => test_interaction_impl,
        description => <<"Test interaction 01">>
      }
    }
    }
  ]},
  {multi_test, [
    {
      interactions, #{
      <<"test_interaction_add">> => #{
        module => test_interaction_impl,
        description => <<"Test interaction 01">>
      }
    }
    }
  ]},
  {default, [
    {interactions, #{}}
  ]}
]}.

{wms_dist,
 [
   {multi_test, [
     {nodes, [wms_eng1@__hostname__, wms_eng2@__hostname__]},
     {optional_nodes, [wms_dis1@__hostname__,
                       wms_dis2@__hostname__,
                       wms_opa1@__hostname__,
                       wms_opa2@__hostname__]}
   ]},
   {default, [
     {auto_start_actors, []}
   ]}
 ]
}.